<div class="text-center">
    <img src="{{ asset('uploads/avatars/' ~ convention.logo) }}" alt="convention picture" class="rounded-sm max-w-md w-32 h-full object-cover mx-auto">
    <a href="{{ path('app_convention_show', {'slug': convention.slug}) }}" class="text-xl font-bold"><i class="fa-solid fa-building ml-2"></i> {{ convention.name }}</a>
</div>